<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <title>豪客后台管理系统</title>
  <script src=https://use.fontawesome.com/e50cf7a41d.js></script>
<link href=/css/app.669ebead6a528c008bad8c642662daf1.css rel=stylesheet></head>

<body>
  <div id=app>

  </div>
  <!-- built files will be auto injected -->
<script type=text/javascript src=/js/manifest.3f07017eecda87c71dfd.js></script><script type=text/javascript src=/js/vendor.ed0bd0dc0c8b054c60be.js></script><script type=text/javascript src=/js/app.70af45af844ece36405f.js></script></body>

</html>