<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <title>豪客后台管理系统</title>
  <script src=https://use.fontawesome.com/e50cf7a41d.js></script>
<link href=/css/app.9fc49444347bc91b5965288b460b6e04.css rel=stylesheet></head>

<body>
  <div id=app>

  </div>
  <!-- built files will be auto injected -->
<script type=text/javascript src=/js/manifest.7a427b624ea2914865dc.js></script><script type=text/javascript src=/js/vendor.935e3f48b07b26659a8b.js></script><script type=text/javascript src=/js/app.ead566c7a30ec9052da9.js></script></body>

</html>