<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <title>豪客后台管理系统</title>
  <script src=https://use.fontawesome.com/e50cf7a41d.js></script>
<link href=/css/app.40d335b90e02bb5bf997ca941dd747d6.css rel=stylesheet></head>

<body>
  <div id=app>

  </div>
  <!-- built files will be auto injected -->
<script type=text/javascript src=/js/manifest.38a4cefaedd511185766.js></script><script type=text/javascript src=/js/vendor.f1c88a87a7e943473383.js></script><script type=text/javascript src=/js/app.de1474a7aae2b618185e.js></script></body>

</html>